.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .empty {
    background-color: lightgray;
    height: 40px;
  }
  
  .non-empty {
    background-color: lightblue;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  select{
    width: 100px;
  }
  


  